<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>-->
  
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="BorderWidth" value="4" />
    <add key="captionPenSize" value="6" />

    <add key="ConfigApp" value=".\setupApp.exe" />
    <add key="windowHeight" value="900" />
    <add key="windowWidth" value="1200" />
     <add key="maxAtStartup" value="False" />
	  
<!-- ideally, we want to commit these to something else, but at least they are encrypted now. -->
	  <add key="SmugMugOAuthConsumerTokenSalted" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAUq70E+tPAEOAL8wEDeu9dwAAAAACAAAAAAAQZgAAAAEAACAAAACS3JO3MZVjMt1mvlGmI67y3Ynz0DPqCKz3sc47VIwehgAAAAAOgAAAAAIAACAAAADzegAc25wVLQc9ZhkVlcEs9f1eFlWE1etKeyl8THip+FAAAABo5J8j4j8gXOCOXAKicOeYwo09gPsphxXXr4q5smCxCb1HzKAvsUINprrcbGlV39Go/5X1pE7apvejOq1nZpiwwLv+LZKXRMCfkyXMVDeR7EAAAADr74tLJvz1h/PUsIBbWIKMjZzCAYE1ulT434L5zt6PAjCGiyFtxcxvExhbGlpsDIZ1oW7H+mEw8CL6tBUmH46y"/>	  
	  
	  <add key="SmugMugOAuthConsumerSecretSalted" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAUq70E+tPAEOAL8wEDeu9dwAAAAACAAAAAAAQZgAAAAEAACAAAADy4BuD2cM1BoJqx83O/5QnPPzgCvz3WrSdEtKSSLEvZwAAAAAOgAAAAAIAACAAAAAxHWnvvwBy2t/lCLYHsBX3/fGpGaWdBbRfP2Ka8R9z41AAAACylFEdvsy8O6YFz3hU3odq53zSEq9qlbSXlOU40AU0D6l/4X+pkgSgXFkQDAghaTtAJO4uLbJ5Ev6QABVEhdQPUBd3JMFgyXaOFaMERS/V7kAAAAD9zYfUlgyAyyCqMeg8us+jLAX/VNsQNui35lPelVYZmYdsvJ1BGEHLmQMxaWQR+8YDViAc1/VRZ/FNyi6LYQS0"/>

	  <!-- Congratulations, you found the hidden feature!
	  note, below is a comma seperated list, IE MY_NAME,user2 will pull images from both accounts. 
	  example: MY_NAME, username1, username2, where MY_NAME is special keyword.
	  only accounts without password protection are supported!
	  -->
	  <add key="UserNameList" value="MY_NAME" />
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
