<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SmugMugOAuthConsumerToken" value="a"/>
		<add key="SmugMugOAuthConsumerSecret" value="b"/>
		<add key="SmugMugOAuthAccessToken" value="c"/>
		<add key="SmugMugOAuthAccessTokenSecret" value="d"/>
	</appSettings>
</configuration>